*{
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    text-align: center;
    margin-left: 10%;    
    background-color:  #b7b4d8;
    padding: 10px;
}


.header{
    margin-top: 40px;
    text-transform: uppercase;
    padding: 20px;
    text-shadow: 2px 2px 4px #321680;

}

h2{
    padding: 10px;
}

.inputForm{
    padding: 15px;
}

.seachInput{
    padding: 15px;
}

.allData{
    margin-top: 50px;
}



#editBTN, #removeBTN{
    padding: 8px;
    border: none;
    color: white;
}

#editBTN{
    background-color: green;
    border-radius: 12px;
}

#editBTN:hover{
    background-color: rgb(2, 109, 73);
    letter-spacing: 2px;
    transition: 0.5s;
}


#removeBTN{
    background-color: red;
    border-radius: 12px;
}

#removeBTN:hover{
    background-color: rgb(145, 28, 28);
    letter-spacing: 2px;
    transition: 0.5s;
}

#removeAllBtn{
    padding: 8px;
    border: none;
    color: white;
    background-color: red;
    border-radius: 12px;
    float: right; /* This aligns the button to the right */
    margin-right: 80px;
}
